
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del>#2 Tüm Başlıklarda paging</del></p>
<p><del>#3 Mesajlarda Session</del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınması Session</del></p>
<p><del>#5 Token kullanımı</del></p>

